# <center> Tarea 4-Parte 1, Diplomado en Inteligencia Artificial y Aprendizaje Profundo
    
    
* Juan Felipe Alayón Martiínez 
* jalayonm@unal.edu.co
* de abril del 2023

## Parte 1

1. Consiga el conjunto de datos iris.csv. En el repositorio de Aprendizaje Profundo encuentra alguna versión.
2. Escriba una clase iterable que tenga la siguiente funcionalidad
    *  Al instanciar un objeto, lee el archivo de datos y lo coloca en un dataframe interno en la clase.
    * Cada vez que se le pidan datos, debe regresar los dos siguientes datos.
    * Entregue un error si los datos se han agotado

In [71]:
import pandas as pd

class Iris:
    def __init__(self,ruta):
        self.iris=pd.read_csv(ruta)
        self.n=0
    
    def dos_valores(self):
        if self.n+1>= len(self.iris):
            raise  StopIteration 
        else:
            lista=self.iris.iloc[self.n]
            lista2=self.iris.iloc[self.n+1]
            self.n=self.n+2
            return lista[0:5],lista2[0:5]

In [72]:
ruta="E://Fisica/Diplomado_Ia/archive/iris.csv"
prueba=Iris(ruta)

In [73]:
# Cada vez que se le pidan datos debe ingresar los dos valores siguientes 

print(prueba.dos_valores())
print(prueba.dos_valores())

(Id                 1
SepalLengthCm    5.1
SepalWidthCm     3.5
PetalLengthCm    1.4
PetalWidthCm     0.2
Name: 0, dtype: object, Id                 2
SepalLengthCm    4.9
SepalWidthCm     3.0
PetalLengthCm    1.4
PetalWidthCm     0.2
Name: 1, dtype: object)
(Id                 3
SepalLengthCm    4.7
SepalWidthCm     3.2
PetalLengthCm    1.3
PetalWidthCm     0.2
Name: 2, dtype: object, Id                 4
SepalLengthCm    4.6
SepalWidthCm     3.1
PetalLengthCm    1.5
PetalWidthCm     0.2
Name: 3, dtype: object)

In [75]:
name= pd.read_csv(ruta)
display(name)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [74]:
#Entregue un error si los datos se han agotado

for valor in range(72):
    valor= prueba.dos_valores()
print(prueba.dos_valores())
print(prueba.dos_valores())

(Id               149
SepalLengthCm    6.2
SepalWidthCm     3.4
PetalLengthCm    5.4
PetalWidthCm     2.3
Name: 148, dtype: object, Id               150
SepalLengthCm    5.9
SepalWidthCm     3.0
PetalLengthCm    5.1
PetalWidthCm     1.8
Name: 149, dtype: object)

StopIteration: