In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
for i in range(4,9):
    ruta_carpeta_TM = f"E://Maestria/Tesis/Datos_pruebas/validacionTroncal2023081{i}.csv"
    TM_names = f'TM{i}'
    globals()[TM_names] = pd.read_csv(ruta_carpeta_TM)

for i in range(4,9):
    ruta_carpeta_Sitp = f"E://Maestria/Tesis/Datos_pruebas/validacionZonal2023081{i}.csv"
    Sitp_names = f'Sitp{i}'
    globals()[Sitp_names] = pd.read_csv(ruta_carpeta_Sitp)
    
for i in range(4,9):
    ruta_carpeta_Dual = f"E://Maestria/Tesis/Datos_pruebas/validacionDual2023081{i}.csv"
    Dual_names = f'Dual{i}'
    globals()[Dual_names] = pd.read_csv(ruta_carpeta_Dual)

In [19]:
#limpia el data frame las columnas que desea en una lista

def limpieza_columnas(df, columnas):
    df = df[columnas].copy()
    return df

In [25]:
def limpieza_columnas(df, columnas):
    df = df[columnas].copy()
    return df

columnas = ['Fecha_Transaccion', 'Estacion_Parada', 'Sistema', 'Ruta', 'Linea', 'Valor', 'Numero_Tarjeta']

list_TM = [TM4, TM5, TM6, TM7, TM8]
list_Sitp = [Sitp4, Sitp5, Sitp6, Sitp7, Sitp8]
list_Dual = [Dual4, Dual5, Dual6, Dual7, Dual8]

for i in range(len(list_TM)):
    list_TM[i] = limpieza_columnas(list_TM[i], columnas)

for i in range(len(list_Sitp)):
    list_Sitp[i] = limpieza_columnas(list_Sitp[i], columnas)

for i in range(len(list_Dual)):
    list_Dual[i] = limpieza_columnas(list_Dual[i], columnas)

In [27]:

list_TM[0]

,Fecha_Transaccion,Estacion_Parada,Sistema,Ruta,Linea,Valor,Numero_Tarjeta
0,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,b367523b7f2a474d6f31591bdfce1284ce3417e6ed3c1b...
1,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,1c0b849d281f4679f2a1b691039bf38e165526f68d7b22...
2,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,2950.0,ae7bc213c6ec40815bbd10c8f7f9aef465546c72eaf839...
3,2023-08-14 03:51:24,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,89ab0794a1f55c27a671035ad74836359cf8eebe922434...
4,2023-08-14 03:51:26,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,c4431fe240f4d9b1dddda93d9d33edc2decce539768381...
...,...,...,...,...,...,...,...
1981445,2023-08-14 23:57:14,(12004) Carrera 22,TRONCAL,NaN,(39) Zona F Calle 13,2950.0,2f89c9f2590be1a927163a07e7bb3e7498e37a4e0e0be9...
1981446,2023-08-15 00:00:28,(07007) NQS - Calle 38A Sur,TRONCAL,NaN,(30) Zona G NQS Sur,2950.0,206d6c7a672a4c690ae5e3c002c1bd1d9535a48da2d294...
1981447,2023-08-15 00:20:56,(08000) Portal Tunal,TRONCAL,NaN,(34) Zona H Caracas Sur,200.0,ebe68143dba0eb87428a50f189cf6a834f4d961710d6f8...
1981448,2023-08-15 03:35:24,(05100) Banderas P. Central,TRONCAL,NaN,(31) Zona F Av. Américas,2500.0,09d1296f5a750550bc1216d20ef69a0b68886b23aaa34f...
1981449,2023-08-15 03:48:12,(06000) Portal Eldorado,TRONCAL,NaN,(11) Zona K Calle 26,200.0,92a61e026b06d17ccd0e9d4909f5fe8d679a6a5fca7716...

In [30]:
day0 = [list_TM[0], list_Sitp[0], list_Dual[0]]
df_0= pd.concat(day0, ignore_index=True)

day1 = [list_TM[1], list_Sitp[1], list_Dual[1]]
df_1= pd.concat(day1, ignore_index=True)

day2 = [list_TM[2], list_Sitp[2], list_Dual[2]]
df_2= pd.concat(day2, ignore_index=True)

day3 = [list_TM[3], list_Sitp[3], list_Dual[3]]
df_3= pd.concat(day1, ignore_index=True)

day4 = [list_TM[4], list_Sitp[4], list_Dual[4]]
df_4= pd.concat(day4, ignore_index=True)

total=[df_0, df_1, df_2, df_3, df_4]
df_total= pd.concat(total, ignore_index=True)

display(df_total)

,Fecha_Transaccion,Estacion_Parada,Sistema,Ruta,Linea,Valor,Numero_Tarjeta
0,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,b367523b7f2a474d6f31591bdfce1284ce3417e6ed3c1b...
1,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,1c0b849d281f4679f2a1b691039bf38e165526f68d7b22...
2,2023-08-14 03:51:23,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,2950.0,ae7bc213c6ec40815bbd10c8f7f9aef465546c72eaf839...
3,2023-08-14 03:51:24,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,89ab0794a1f55c27a671035ad74836359cf8eebe922434...
4,2023-08-14 03:51:26,(05000) Portal Américas,TRONCAL,NaN,(31) Zona F Av. Américas,200.0,c4431fe240f4d9b1dddda93d9d33edc2decce539768381...
...,...,...,...,...,...,...,...
20230806,2023-08-18 23:35:42,(11413) BD-008A|K7 - CL45,DUAL,(2485) L81 Normal,(375) C125_/L81-D81 Hbl-Sbd,2950.0,af23e93d001170fa683ed6c78cafa3be9d8de91493fcbd...
20230807,2023-08-18 23:35:46,(11413) BD-008A|K7 - CL45,DUAL,(2485) L81 Normal,(375) C125_/L81-D81 Hbl-Sbd,2950.0,5c25fc2a3d206080eccd5236e2591e3b6adb63c2d6e7a8...
20230808,2023-08-18 23:36:56,(11414) BD-006A|K7 - CL40 N/S A,DUAL,(2485) L81 Normal,(375) C125_/L81-D81 Hbl-Sbd,2950.0,d5a02a9636a62979a96884ed49f55d506194501f20a853...
20230809,2023-08-18 23:38:32,(11415) BD-004A|K7 - CL36,DUAL,(2485) L81 Normal,(375) C125_/L81-D81 Hbl-Sbd,2950.0,062df8e0d7f30c617c44e75482341183736e1c2527b4be...
20230810,2023-08-18 23:38:37,(11415) BD-004A|K7 - CL36,DUAL,(2485) L81 Normal,(375) C125_/L81-D81 Hbl-Sbd,2950.0,062df8e0d7f30c617c44e75482341183736e1c2527b4be...

In [29]:
def asignar_codigos_unicos(df, columna_codigos):
    codigos_numericos, codigos_unicos = pd.factorize(df[columna_codigos])
    df['Codigo_unico'] = codigos_numericos + 10_000_000
    return df

In [31]:
df_0=asignar_codigos_unicos(df_0, 'Numero_Tarjeta')
df_1=asignar_codigos_unicos(df_1, 'Numero_Tarjeta')
df_2=asignar_codigos_unicos(df_2, 'Numero_Tarjeta')
df_3=asignar_codigos_unicos(df_3, 'Numero_Tarjeta')
df_4=asignar_codigos_unicos(df_4, 'Numero_Tarjeta')
df_total=asignar_codigos_unicos(df_total, 'Numero_Tarjeta')

max_valor0 = df_0['Codigo_unico'].max()
max_valor1 = df_1['Codigo_unico'].max()
max_valor2 = df_2['Codigo_unico'].max()
max_valor3 = df_3['Codigo_unico'].max()
max_valor4 = df_4['Codigo_unico'].max()
max_valortotal = df_total['Codigo_unico'].max()

print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valor0}")
print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valor1}")
print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valor2}")
print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valor3}")
print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valor4}")
print(f"El valor máximo en la columna 'Codigo_unico' es: {max_valortotal}")

El valor máximo en la columna 'Codigo_unico' es: 11790624
El valor máximo en la columna 'Codigo_unico' es: 11823849
El valor máximo en la columna 'Codigo_unico' es: 11817068
El valor máximo en la columna 'Codigo_unico' es: 11823849
El valor máximo en la columna 'Codigo_unico' es: 11781355
El valor máximo en la columna 'Codigo_unico' es: 13065886